@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");

:root {
  --color-black-first: #000000;
  --color-black-second: #1d1d29;

  --color-red-firt: #e73127;
  --color-red-second: #9e373b;
  --color-red-second-black: #571e1f;
  --color-red-third: #ef5c54;

  --color-white-first: #ffffff;
  --color-white-second: #ddd4d4;
}

body {
  background-color: var(--color-black-second);
}

h1 {
  color: var(--color-red-firt);
  font-family: "Press Start 2P", cursive;
  text-shadow: 4px 4px 0px var(--color-black-first);
  text-align: center;
  font-size: 2.5rem;
  margin: 30px auto;

  animation: fromBottom 0.8s ease-out backwards;
}

.main-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.search-one {
  animation: fromBottom 0.8s ease-out backwards 0.5s;
}

.search-two {
  animation: fromBottom 0.8s ease-out backwards 0.5s;
}

.main-label {
  display: block;
  font-family: "Fira Code", monospace;
  font-weight: normal;
  font-size: 1.3rem;
  color: var(--color-white-first);
  text-align: center;
  margin: auto;
  max-width: 200px;
  width: 40vw;
}

.main-input {
  display: block;
  background-color: var(--color-white-second);
  width: 40vw;
  height: 45px;
  max-width: 1200px;
  min-width: 420px;
  /* width: ; */
  border: 4px solid var(--color-black-first);
  border-radius: 0;
  box-shadow: 4px 4px 0px var(--color-black-first);
  margin: 15px auto 30px;
  font-size: 1.3rem;
  font-family: "Fira Code", monospace;
}

.main-btn {
  display: flex;
  width: 40vw;
  height: 45px;
  max-width: 420px;
  min-width: 300px;
  box-shadow: 4px 4px 0px var(--color-black-first);
  padding: 20px 112px;
  background-color: var(--color-red-second);
  border: 0;
  color: var(--color-white-first);
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  margin: 30px auto;
  align-content: center;
  justify-content: center;
  align-items: center;

  animation: fromBottom 0.8s ease-out backwards 1s;
}

.main-btn:hover {
  background-color: var(--color-red-second-black);
  cursor: pointer;
  transition: transform 50ms ease-in-out;
}

.main-btn:active {
  transform: scale(0.9);
}

.main-banners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.fig-banner {
  display: flex;
  margin: 20px;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.3em;
  max-width: 186px;
}

.fig-banner:nth-child(1) {
  animation: fromBottom 0.8s ease-out backwards 1.5s;
}

.fig-banner:nth-child(2) {
  animation: fromBottom 0.8s ease-out backwards 1.7s;
}

.fig-banner:nth-child(3) {
  animation: fromBottom 0.8s ease-out backwards 1.9s;
}

.fig-banner,
.btn-banner:hover {
  cursor: pointer;
}

.fig-banner:active {
  transform: scale(0.9);
  transition: transform 70ms ease-in-out;
}

.img-banner {
  border: 2px solid var(--color-red-third);
  box-shadow: 4px 4px 0px var(--color-black-first);
  margin: auto;
  width: 182px;
  height: 270px;
}

.btn-banner {
  display: flex;
  box-shadow: 4px 4px 0px var(--color-black-first);
  padding: 10px;
  width: 186px;
  background-color: var(--color-red-second);
  border: 0;
  color: var(--color-white-first);
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.figcap {
  margin-top: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 0.9rem;
  color: var(--color-red-firt);
}

footer {
  display: flex;
  justify-content: center;
  margin: 34px auto 30px;
}

footer img {
  cursor: pointer;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

footer img:hover {
  transform: scale(.9);
}

footer img:nth-child(1) {
  animation: fromBottom 0.8s ease-out backwards 2s;
}

footer img:nth-child(2) {
  animation: fromBottom 0.8s ease-out backwards 2.2s;
}

footer img:nth-child(3) {
  animation: fromBottom 0.8s ease-out backwards 2.4s;
}

/* animation */

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}
